@import url('https://fonts.cdnfonts.com/css/chillax');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./assets/fonts/CabinetGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo-animation {
  display: inline-flex;
  animation: scrollLeft 20s linear infinite;
}

.delay1 {
  animation-delay: calc(20s / 6 * (6 - 1) * -1);
}
.delay2 {
  animation-delay: calc(20s / 6 * (6 - 2) * -1);
}
.delay3 {
  animation-delay: calc(20s / 6 * (6 - 3) * -1);
}
.delay4 {
  animation-delay: calc(20s / 6 * (6 - 4) * -1);
}
.delay5 {
  animation-delay: calc(20s / 6 * (6 - 5) * -1);
}
.delay6 {
  animation-delay: calc(20s / 6 * (6 - 6) * -1);
}
.delay6 {
  animation-delay: calc(20s / 6 * (6 - 6) * -1);
}

/* .mask-image-div {
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) ,
  )
} */



@keyframes scrollLeft {
  0% {
    left: 110%; 
  }
  100% {
    left: -320px
  }
}

